.language-selector .selected-leanguage .wrapper-language{
display:flex;
flex-direction: column;
height: 100px;
position: absolute;
width: 64px;
height: 36px;
left: 1452px;
top: 0px;
}
.language-selector .wrapper-language {
  max-height: 0px;
  overflow: hidden;
  background: red;
  transition: 0,4s;
  position: absolute;

 
}
.language-selector .wrapper-language  {
  display:flex;
  flex-direction: column;
}
.language-selector:hover .wrapper-language {
  max-height: 368px; 
 transition: 0,4s;
 display:flex;
flex-wrap: wrap;
}
.top-bar .container .flex-container .wrapper-text {
  display:flex;
  justify-content:space-between;
  height: 100%;
  align-items: center;

  }
header {
  background-color: red;
  height: 50px;
}
.top-bar2 .container .flex-container .product-selection {
  display:flex;
  justify-content: space-between;
}
h5 {
  color: blue;
  text-decoration:line-through ;
}
a {
  text-decoration: none;
}
h4 {
  color:black;
  height:18px;
  top: 149px;
}
.container {
max-width: 1112px;
margin:0 auto;
height: 100%;
}
.flex-container{
  height: 100%;
  align-items: center;
}
.top-bar {
  height:36px;
}
*{
  font-family: 'Montserrat', sans-serif;
}